$tab-background-color: linear-gradient(180deg, #fdc401, #eea40f);
$main-background-color: #d2e1ff;
$tab-open-background-color: #dedede;
$tab-button-background-color: linear-gradient(180deg, #434daf, #7162cb);
$input-shadow-color: #c8c8c8;
